<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--  공유 자원 객체 생성 -->
	<bean id="shardData" class="pack.ShardData">
		<property name="shared" value="여러 클래스가 공유할 자료입니다" />
	</bean>
	
</beans>
